Flask==2.3.3
Flask-CORS==4.0.0
requests==2.31.0
gunicorn==21.2.0
alibabacloud-darabonba-openapi==0.2.1
alibabacloud-dashscope20230101==1.0.7
alibabacloud-tea-openapi==0.3.7
tencentcloud-sdk-python==3.0.1180 